* {
  box-sizing: border-box;
}

h1,
h4,
p {
  margin: 0px;
}

body {
  background-color: white;
}

.container {
  color: #666666;
  font-family: 'Lora', serif;
  margin: 20px auto;
  width: 90%;
}



header {
  border-bottom: 1px solid #666666;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
  width: 100%;
}

/* El menú */
nav {
  padding: 1em;
  width: 10%;
}

nav div {
  margin-bottom: 20px;
}

/* El elemento principal */
main {
  border: 1px solid #aaaaaa;
  height: 400px;
  padding: 1em;
  text-align: center;
  width: 54%;
}

main img {
  height: 70%;
  width: 80%;
}


/* Artículo. Imágenes pequeñas */
article {
  border: 1px solid #aaaaaa;
  height: 300px;
  padding: 1em;
  text-align: center;
  width: 32%;
}



article img {
  height: 60%;
  width: 100%;
}


/* Pie de la página */
footer {
  align-items: center;
  border-top: 1px solid #666666;
  margin-top: 1em;
  padding: 2em;
}

footer img {
  width: 50px;
}
address{
  font-style: normal;
}
